
.horoscope-title {
  font-weight: bold;
  margin: 1rem;
}
.horoscope-card {
  padding: 2em;
  margin:2em;
  height: 100%;
  border: .2em solid #4B0082;
  }
  .horoscope-image {
    width: 90%;
  }
.horoscope-text {
  font-weight: bold;
  padding: 1em;
}

