.cinema {
  padding: 0;
  margin: 0;
  width: auto;
  height: 100vh;
  background-image: url('../../assets/images/theaterImages/theater screen.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 
}
.theaterTitle {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #fff;
  text-align: center;

}
.cinemaHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.movieBox {
  width:560px; 
  height:315px; 
  border: 5px solid rgb(23, 22, 22)
}
