
.navigation {
  align-items: center;
    width: 100%;
    opacity: 0.8;
    font-family: 'Ubuntu';
    color: #7d8e8f
     ;
}
.Logo {
  display: grid;
  place-items: center;
  height: auto;
  height: 8vh;
  width: 8vh;
  margin-left: 20px;
  border: 1px solid #000;
  border-radius: 50%;

}
.pageHeader {
  display: flex;
  align-items: row;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  height: auto;
  padding: 2vh;
  cursor: pointer;
  padding: '10px';
  margin-top:-25;
  background-color: '#708090';
 }

.Item {
  display: flex;
  align-items: center;
  place-content: flex-start;
  padding: .5rem;
  color: black;
  cursor: pointer;
  font-size: 700;
 }
